<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
    <property name="hibernate.connection.username">proyecto</property>
    <property name="hibernate.connection.password">proy</property>
    <mapping resource="proy/modelo/pojos/Pagos.hbm.xml"/>
    <mapping resource="proy/modelo/pojos/Usuario.hbm.xml"/>
    <mapping resource="proy/modelo/pojos/Persona.hbm.xml"/>
    <mapping resource="proy/modelo/pojos/Vehiculo.hbm.xml"/>
    <mapping resource="proy/modelo/pojos/Color.hbm.xml"/>
    <mapping resource="proy/modelo/pojos/Boleto.hbm.xml"/>
    <mapping resource="proy/modelo/pojos/Pasajero.hbm.xml"/>
    <mapping resource="proy/modelo/pojos/Viajes.hbm.xml"/>
    <mapping resource="proy/modelo/pojos/Conductor.hbm.xml"/>
    <mapping resource="proy/modelo/pojos/Marca.hbm.xml"/>
    <mapping resource="proy/modelo/pojos/Ciudad.hbm.xml"/>
    <mapping resource="proy/modelo/pojos/Modelo.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
